body{
	background-color: #FFF4EA;
}

#header{
    display: inline-block;
    margin: 0;
    padding: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#nav{
    display: inline;
    margin: 0 15px;
}

.pages{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

#content{
	position: relative;
	float: center;
	padding: 10px 20px;
	padding-top: 10px;
	padding-right: 20px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 400px;
	font-family: Helvetica;
	font-size: 17px;
	text-align: justify;
	color: #1F2544;
}

