body{
	background-color: #FFF4EA;
}

h1{
	background-color: #1F2544;
	padding: 20px 20px;
	margin: 0px;
	font-size: 50px;
	font-family: Garamond;
	color: #FFF4EA;
	text-align: center;
}

#header{
	box-shadow: 0px 8px #FFF4EA;
}

#nav{
	margin-top: 0px;
	border: #474F7A solid;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #474F7A;
	color: #FFF4EA;
}

.pages{
	background-color: transparent;
	border: none;
	color: #FFF4EA;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 15px;
	transition: 0.2s;
	cursor: pointer;
	font-family: Century Gothic;
	text-decoration: none;
	border-radius: 5px;
}

.pages:hover{
	opacity: 1;
	background-color: #FFF4EA;
	color: #474F7A;
}

#content{
	position: relative;
	float: center;
	padding: 10px 20px;
	padding-top: 10px;
	padding-right: 20px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 400px;
	font-family: Helvetica;
	font-size: 17px;
	text-align: justify;
	color: #1F2544;
}

