body{
	background-color: #ffffff;
}

#header{
    display: inline-block;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

li{
    display: inline;
    margin: 0 15px;
}

.pages{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}